/* .nav-link[data-toggle].collapsed:before {
    content: " ▾";
}
.nav-link[data-toggle]:not(.collapsed):before {
    content: " ▴";
} */



.main-sidebar .nav .nav-item .nav-link svg {
    text-align: center;
    vertical-align: middle;
    will-change: color;
    /* color: #cacedb; */
    transition: color .2s ease;
    margin-right: .375rem;
    font-size: 1.125rem;
}
.main-navbar .navbar {
    box-shadow: 0 0.125rem 0.625rem rgba(90,97,105,.12);
}
.navbar .dropdown-menu a.dropdown-item{
    padding: .375rem .875rem;
    font-size: .813rem;
}
.d-flex.flex-column.m-auto {
    z-index: 1;
}
.stats-small>div {
    z-index: 1;
    background: none;
}
.stats-small--1 .stats-small__data svg.MuiSvgIcon-root {
    margin: 0 auto;
    font-size: 80px;
}
.main-navbar .navbar .user-avatar {
    max-width: 2.5rem;
    object-fit: cover;
    background: #eee;
    display: inline-block;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
}
.container-fluid .btn {
    font-weight: 400;
    border: 1px solid transparent;
    padding: .5625rem 2rem;
    font-size: .75rem;
    line-height: 1.125;
    /* height: 40px; */
    border-radius: .25rem;
    transition: all 250ms cubic-bezier(.27,.01,.38,1.06);
    margin: .075rem;
}
.main-content-container .auth-form.mx-auto.my-auto.my-5 {
    margin: 25px auto !important;
}
.container-fluid table .btn .MuiSvgIcon-root {
    font-size: 1rem;
}
.container-fluid table.table th, .container-fluid table.table td {
    padding-top: .75rem;
    padding-bottom: .75rem;
}
.container-fluid table.table th:not(:first-child), .container-fluid table.table td:not(:first-child) {
    min-width: 150px;
}
.dataTables_wrapper .col-sm-12[data-test="datatable-table"] {
    overflow: auto;
}
.btn-modal-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ReactModalPortal h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}
.ReactModalPortal .ReactModal__Content {
    min-width: 450px;
    text-align: center;
}
.btn-modal-container {
    margin: 25px 0 0;
}

.table-svg {
    width: 16px !important;
    height: 16px !important;
    margin-left: 4px;
}
