* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$primary: #592533;
$secondery: #732240;
$dark: #261420;
$light: #ebecf3;
$mainLight2: #a7afc7;
$white: #fff;
$body-color: #261420;
$dark-red: #261420;
$light-gray: #e2e8f0;
$paleBlue: #90caf9;
$errorRed: #c01;

.container {
  max-width: 1420px !important;
}
////navbar///////////////////////
.navbar {
  .nav-link {
    position: relative;
    font-weight: 600;
    letter-spacing: 0.7px;
    color: rgba(255, 255, 255, 0.7) !important;
    padding: 0 !important;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
    &::after {
      content: "";
      height: 2px;
      width: 0;
      display: block;
      background-color: $primary;
      position: absolute;
      left: 0;
      bottom: -2px;
      transition: 0.35s ease;
    }
    &:hover,
    &.active {
      color: $white !important;
      &::after {
        width: 70%;
        transition: 0.25s ease;
      }
    }
  }
  .nav-buttons {
    button {
      display: inline-flex;
      justify-self: center;
      align-items: center;
      height: 40px;
      border-radius: 0;
    }
  }
}
.mobile-nav {
  height: 72px;
  a:not(.nav-link),
  button {
    border-radius: 0;

    display: inline-flex;
    text-align: center;
    justify-self: center;
    align-items: center;
    height: 40px;
    @media (max-width: 480px) {
      height: 32px;
      width: 32px;
      padding: 8px;
    }
  }
  &-menu {
    background-color: $dark;
    position: fixed;
    z-index: 999;
    top: 72px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding-top: 1rem;
    transform: translateY(100%);
    .nav {
      display: flex;
      flex-direction: column;
      .nav-link {
        max-width: 150px;
        color: $light;
        opacity: 0.765;
        transition: 0.25s ease-in-out;
        &:hover {
          opacity: 1;
        }
      }
    }
    flex-direction: column;
    width: 100%;
    height: 100vh;
    transition: 0.5s ease;
    // transform: translateY(100%);
  }
  .mb-nav-icon {
    cursor: pointer;
    // padding: 10px;
  }
}
// //////Home Page CSS///// //
.home-hero {
  background: linear-gradient(280deg, rgb(37 20 32 / 57%), rgb(90 37 51 / 76%));
  // linear-gradient(280deg,rgba(67, 76, 104, 0.7),rgba(19, 28, 32, 0.9));
  min-height: 500px;
  position: relative;
  &::after {
    content: "";
    background: url("https://firebasestorage.googleapis.com/v0/b/mv4f-marketplace.appspot.com/o/images%2FHome%20Page%20Red_Empty.jpg?alt=media&token=1f94e113-f047-40f7-bc58-1fbe17dc9c56");
    // background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
  }
  .hero-content {
    color: $white;
    h1 {
      font-size: 64px;
    }
    p {
      opacity: 0.7;
      font-size: 18px;
    }
    button.btn {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

// /////////// JOIN US SECTION CSS /////////// //
.join-us {
  background: $light;
  max-width: 750px;
  margin: 95px auto;
  @media (max-width: 600px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  padding: 2rem;
  @media (max-width: 600px) {
    padding: 2rem 1rem;
  }
  h2 {
    font-size: 48px;
    .bg-gr {
      background: radial-gradient(circle, $secondery, $primary, $body-color);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  button {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  p {
    opacity: 0.9;
  }
}
// ////////////product card//////////// //
.section-heading {
  position: relative;
  display: inline-block;
  margin-bottom: 2.4rem;
  font-weight: 900;
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: $primary;
    width: 84px;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
  }
}
.product-card {
  &__header {
    position: relative;
    .btn-div {
      left: 10px;
      right: 10px;
      bottom: 10px;
      top: 10px;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: radial-gradient(
        circle,
        rgba(67, 76, 104, 0.678),
        rgba(76, 88, 140, 0.678)
      );
      transition: 0.5s ease;
      transform: scale(0);
      border-radius: 50%;
    }
    overflow: hidden;
    &:hover {
      cursor: pointer;
      .btn-div {
        border-radius: 0;
        transform: scale(1);
        transition: 0.25s ease;
      }
      img {
        filter: blur(2px);
        transform: scale(1.1);
        transition: 0.5s ease;
      }
    }
  }
  &__body {
    margin-top: 1rem;
    &--name {
      display: inline-block;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 5px;
      transition: 0.25s ease;
      &:hover {
        color: $primary;
        cursor: pointer;
      }
    }
  }
}
.add-to-favorites {
  top: 10px;
  right: 20px;
  position: absolute !important;

  &.disabled {
    pointer-events: none;
  }
}
.banner-info {
  padding-top: 77px;
  padding-bottom: 77px;

  margin-top: 75px;
  margin-bottom: 75px;
  @media (max-width: 600px) {
    padding-top: 50px;
    padding-bottom: 50px;

    margin-top: 45px;
    margin-bottom: 45px;
  }
  h2 {
    font-size: 48px;
  }
  p {
    opacity: 0.9;
  }
}
.discover-item {
  .btn-with-arrow {
    // transition: 0.25s ease;

    text-decoration: none;
    svg {
      margin-bottom: 2px;
      margin-left: 5px;
      transition: 0.4s ease;
    }
    &:hover {
      svg {
        margin-left: 10px;
      }
    }
  }
}
.phase-development {
  .dp-card {
    &:hover {
      cursor: pointer;
    }
    &__body {
      p {
        opacity: 0.9;
      }
    }
    &__header {
      position: relative;
      overflow: hidden;

      &::after {
        // content: "";
        bottom: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: $primary;
        mix-blend-mode: multiply;
        z-index: 2;
        opacity: 0.6;
        transition: 0.5s ease-in;
      }
      img {
        transition: 0.5s ease-in;
        transform: scale(1.05) rotate(-2deg);
        height: 214px;
      }
      &:hover {
        img {
          transform: scale(1) rotate(0deg);
        }
      }
      &:hover::after {
        opacity: 0;
      }
    }

    .dp-card__body {
      min-height: 190px;
    }
  }
}
/// ///////// Subscribe Us ////////// //
.subscribe-us {
  margin-top: 75px;
  margin-bottom: 75px;
  @media (max-width: 600px) {
    margin-top: 45px;
    margin-bottom: 45px;
  }
  // background: url();
  background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80");
  min-height: 470px;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;

  .sub-overlay {
    background: linear-gradient(to bottom, $dark, $primary);
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    opacity: 0.7;
    z-index: 0;
  }
  &__content {
    color: $light;
    text-align: center;
    h2 {
      font-size: 48px;
      margin-bottom: 15px;
      text-transform: uppercase;
      @media (max-width: 600px) {
        font-size: 32px;
      }
    }
    p {
      opacity: 0.9;
    }
    form {
      max-width: 500px;
      margin: 25px auto;
      button {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        min-width: 155px;
        @media (max-width: 600px) {
          min-width: 100px;
          padding: 10px !important;
          font-size: 15px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            display: none;
          }
        }
        svg {
          margin-left: 5px;
          transition: 0.25s ease-in-out;
        }
        &:hover {
          svg {
            margin-left: 10px;
          }
        }
      }
    }
    input {
      height: 45px;
    }
  }
}
///////// //////// supporters ///// /////////// //
.supporters {
  margin-bottom: 75px;
  @media (max-width: 600px) {
    margin-bottom: 45px;
  }
  h2 {
    font-size: 54px;
    margin-bottom: 1.5rem;
    font-weight: 900;
    @media (max-width: 600px) {
      font-size: 34px;
    }
  }
  p {
    font-size: 18px;
    opacity: 0.8;
  }
}
footer {
  .footer-top {
    padding-top: 35px;
    padding-bottom: 25px;
    border-top: 1px solid $light;
    border-bottom: 1px solid $light;

    h4 {
      font-weight: 900;
      opacity: 0.9;
      margin-bottom: 18px;
    }
    p {
      opacity: 0.8;
    }
  }
  .coryp-right {
    opacity: 0.8;
    font-size: 14px;
    text-align: center;
    padding: 10px;
  }
}
.search-modal {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin: 0 !important;
  .modal-content {
    border-radius: 0;
    background-color: $secondery;
    margin: 0;
    padding: 0;
    border: 0;
  }
  form {
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin: auto;
    max-width: 500px;
    input {
      background: transparent;
      border: 0;
      border-bottom: 1px solid $light;
      border-radius: 0;
      &:focus {
        box-shadow: none;
        background: transparent;
      }
      color: $light !important;
    }
    .search-btn {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      background: transparent;
      border: 0;
      &:focus {
        background: transparent !important;
        box-shadow: none !important;
      }
    }
  }
  .btn-close {
    right: 10px;
    top: 10px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
}
/////////////////////
.products-filter {
  .dropdown-toggle.nav-link {
    color: $dark;
    font-weight: bold;
  }
  .dropdown-menu.show {
    width: 100%;
    position: relative;
    // margin-top: 10px;
    border-radius: 0;
    transform: none !important;
  }
  .filter-item__dropdown {
    .dropdown-toggle::after {
      margin-left: 7px;
    }
    a:not(.filter-item__level2) {
      padding: 0;
      margin-bottom: 10px;
    }
    .dropdown-item {
      padding: 10px;
    }
  }
  .price-range {
    input {
      max-width: 60px;
      width: 100%;
      height: 38px;
      padding: 10px;
      font-size: 14px;
      border-radius: 0;
      outline: none;
      border: 1px solid $dark;
      color: $primary;
      text-align: center;
      &:focus {
        box-shadow: 0;
        outline: none;
        border-color: $primary;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        display: none;
      }
    }
  }
  @media (max-width: 767px) {
    .dropdown-menu.show {
      width: auto;
      position: absolute !important;
      // margin-top: 10px;
      border-radius: 0;
      transform: translate3d(0px, 24.5px, 0px) !important;
    }
    .filter-nav {
      // max-width: 300px;
      padding: 8px 0;
    }
    .filter-item__dropdown {
      .dropdown-toggle::after {
        margin-left: 7px;
      }
      a:not(.filter-item__level2) {
        padding: 0;
        margin-bottom: 0px;
      }
      .dropdown-item {
        padding: 7px;
      }
    }
    input {
      max-width: 100% !important;
    }
  }
}
// ///////////////////////////// //
.product-detail {
  .product-img {
    cursor: pointer;
  }
  .expend-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark;
    background-color: $white;
  }
  .cart-items-details {
    .mint-amount {
      width: 70px;
      height: 40px;
      background-color: $light;
      border-radius: 5px;
      font-weight: 600;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
      color: $dark;
    }
    button {
      background: $light;
      width: 40px;
      height: 40px;
      border-color: transparent;
      outline: none;
      border-radius: 5px;
      transition: 0.24s ease;
      // padding: 5px;
      font-size: 20px;

      svg {
        fill: $dark;
        width: 20px;
      }

      &:hover {
        background-color: $light;
        border-color: $dark;
        svg {
          fill: $primary;
        }
      }
    }
  }
  .price {
    letter-spacing: 1px;
  }
  .product-detial-label {
    font-weight: 600;
    opacity: 0.7;
  }
  .tag {
    border-radius: 40px;
    font-size: 14px;
  }
  .product-btns {
    button {
      // height: 45px;
      text-transform: uppercase;
      img {
      }
    }
  }
}
.our-differences,
.about-us {
  h1 {
    font-size: 54px;
    font-weight: 800;
  }
  h2 {
    font-size: 42px;
    font-weight: 800;
  }

  p {
    opacity: 0.75;
    font-weight: 600;
    font-size: 17px;
  }
  @media (max-width: 600px) {
    h1 {
      font-size: 44px;
    }
    h2 {
      font-size: 32px;
    }
  }
}
.about-us {
  .img-sky {
    height: 550px;
    object-fit: cover;
    object-position: center;
  }
}
.contat-us {
  min-height: 700px;
  @media (max-width: 600px) {
    min-height: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  position: relative;
  &::after {
    position: absolute;
    content: "";
    background-color: $light;
    height: 100%;
    width: 50%;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  form {
    background-color: $primary;
    color: $light;
    padding: 2rem;
    @media (max-width: 600px) {
      padding: 2rem 1rem;
    }
    input {
      height: 42px;
    }
    button {
      height: 45px;
    }
  }
}
.cart {
  h1 {
    font-weight: 900;
  }
  .header-row {
    color: $dark;
    opacity: 0.6;
    font-weight: 700;
  }
  .cart_product {
    p {
      font-weight: 600;
      opacity: 0.6;
    }
  }
  .cart-item__price {
    font-weight: bold;
    color: $dark;
    letter-spacing: 1px;
    text-align: right;
  }
  .cart-items-details {
    .mint-amount {
      width: 70px;
      height: 40px;
      background-color: $light;
      border-radius: 5px;
      font-weight: 600;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
      color: $dark;
    }
    button {
      background: $light;
      width: 40px;
      height: 40px;
      border-color: transparent;
      outline: none;
      border-radius: 5px;
      transition: 0.24s ease;
      // padding: 5px;
      font-size: 20px;

      svg {
        fill: $dark;
        width: 20px;
      }

      &:hover {
        background-color: $light;
        border-color: $dark;
        svg {
          fill: $primary;
        }
      }
    }
  }
  .remove-cart-item {
    width: 26px;
    margin-left: 12px;
    opacity: 0.6;
    cursor: pointer;
  }
  .subtotal {
    opacity: 0.9;
    text-align: right;
  }
  small {
    opacity: 0.8;
    font-weight: 600;
    font-size: 14px;
  }
  .checkout-btn {
    width: 300px;
    height: 45px;
    // text-transform: u;
  }
}
.checkout {
  h1 {
    font-weight: 900;
  }
  // input::placeholder {
  //   /* Chrome, Firefox, Opera, Safari 10.1+ */
  //   color: red;
  //   opacity: 1; /* Firefox */
  // }

  // input:-ms-input-placeholder {
  //   /* Internet Explorer 10-11 */
  //   color: red;
  // }

  // input::-ms-input-placeholder {
  //   /* Microsoft Edge */
  //   color: red;
  // }
  .checkout-img-product {
    padding: 5px;
    border: 1px solid $light;
    background-color: $white;
    // width: 100px;
  }

  .sub-line {
    opacity: 0.7;
    font-weight: 600;
  }
  .qty {
    right: -10px;
    top: -10px;
    background-color: $primary;
    width: 27px;
    height: 27px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light;
    font-size: 12px;
  }
}

/* login form start */
// background: linear-gradient(
//     280deg,
//     rgba(67, 76, 104, 0.7),
//     rgba(19, 28, 32, 0.9)
//   );
//   min-height: 500px;
//   position: relative;
//   &::after {
//     content: "";
//     background: url("https://firebasestorage.googleapis.com/v0/b/mv4f-marketplace.appspot.com/o/images%2FHome%20Page%20Red_Empty.jpg?alt=media&token=1f94e113-f047-40f7-bc58-1fbe17dc9c56");
//     background-size: cover;
//     background-position: center;
//     position: absolute;
//     width: 100%;
//     left: 0;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     z-index: -1;
//   }
.login-bg-hero {
  background: linear-gradient(280deg, rgba(37, 20, 32, 0.57), rgba(90, 37, 51, 0.76)); // linear-gradient(280deg, rgb(67 76 104 / 40%), rgb(19 28 32 / 56%));
  height: 100vh;
  overflow: auto;
  &::after {
    content: "";
    background-image: url("https://firebasestorage.googleapis.com/v0/b/mv4f-marketplace.appspot.com/o/images%2FHome%20Page%20Red_Empty.jpg?alt=media&token=1f94e113-f047-40f7-bc58-1fbe17dc9c56");
    background-repeat: repeat-y;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
  }
}
.login-form {
  width: 400px;
  // margin: 100px 50px 100px auto;
  padding: 70px 20px 50px 30px;
  // border-radius: 20px;
  border: 1px solid $dark-red;
  background-color: $dark-red;
  box-shadow: -15px 10px 60px $dark-red;
  text-align: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;

  .logo-head {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    // background-color: #1a1323;
  }
}

.login-animation-container {
  width: 800px;
  height: 700px;
  position: absolute;
  left: 3%;
  top: 0px;
  z-index: 0;
  transform: rotate3d(10, -3, 1, 71deg);
  padding: 30px;
  overflow: hidden;
  display: none;

  .circle {
    border-radius: 50%;
    box-shadow: 0 10px 60px rgb(54 12 12 / 64%);
    position: absolute;
    border: 1px solid rgb(255 255 255 / 41%);

    .spot {
      position: absolute;
      border-radius: 50%;
    }

    .spot-1 {
      width: 10px;
      height: 10px;
      background-color: #e91e63;
    }

    .spot-2 {
      width: 15px;
      height: 15px;
      background-color: #4caf50;
    }

    .spot-3 {
      width: 10px;
      height: 10px;
      background-color: #ffeb3b;
    }

    .spot-4 {
      width: 8px;
      height: 8px;
      background-color: #3f51b5;
    }
  }
  .circle-1 {
    width: 650px;
    height: 650px;
    position: absolute;
    left: 75px;
    top: 15px;
    -webkit-animation-name: leftSpin;
    -webkit-animation-duration: 40s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: leftSpin;
    -moz-animation-duration: 40s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: leftSpin;
    -ms-animation-duration: 40s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: leftSpin;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    .spot-1 {
      top: 100px;
      left: 81px;
    }

    .spot-2 {
      top: 400px;
      right: 3px;
    }

    .spot-3 {
      top: 500px;
      left: 50px;
    }
  }
  .circle-2 {
    width: 550px;
    height: 550px;
    position: absolute;
    left: 125px;
    top: 65px;
    -webkit-animation-name: rightSpin;
    -webkit-animation-duration: 35s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rightSpin;
    -moz-animation-duration: 35s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: rightSpin;
    -ms-animation-duration: 35s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: rightSpin;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    .spot-1 {
      bottom: 99px;
      left: 55px;
    }

    .spot-2 {
      top: 100px;
      right: 50px;
    }

    .spot-3 {
      top: 200px;
      left: 4px;
    }

    .spot-4 {
      bottom: 50px;
      right: 109px;
    }
  }
  
}
/* login form end */

/* register start */
.register-form {
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  padding: 0 30px;
  width: 45%;
  border: 1px solid $dark-red;
  background-color: $dark-red;
  box-shadow: -15px 10px 60px $dark-red;
  max-width: 800px;

  @media (max-width: 768px) {
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding-bottom: 20px;
  }
}
div:not(.user-profile) .form-check-input:not(#newsLetter) {
  display: none;
}
div.user-profile .form-check-input:not(#newsLetter) {
  display: block !important;
}
.form-check-input:not(#newsLetter) ~ .form-check-label {
  padding: 0px 8px;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  text-transform: CAPITALIZE;
  max-width: 160px;
  border: 1px solid #efe9e2;
  line-break: anywhere;
  white-space: break-spaces;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.form-check-input:checked:not(#newsLetter) ~ .form-check-label {
  background-color: #efe9e2;
  border: 1px solid #efe9e2;
  // color: #fff;
}
.mb-1.form-check {
  padding: 0;
  margin-right: 4px;
}
.icon-menu {
  width: 40px;
  height: 40px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
}
input[name=password] ~ svg,
input[name=confirmPassword] ~ svg {
  top: 40px;
  right: 10px;
  position: absolute;
  color: #fff;
  cursor: pointer;
}
/* register end */

/* common css */
.wp-100 {
  width: 100%;
}

.flex-box {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.right-20 {
  right: 20px;
}

.error-text {
  color: $errorRed !important;
  margin: 0px;
  text-align: left !important;
}
.warning-text {
  color: $mainLight2 !important;
  margin: 0px;
  text-align: left !important;
  font-size: 12px;
}

.MuiInputLabel-asterisk {
  color: $errorRed;
}

.responsive-table {
  overflow: auto;
  margin-bottom: 0;

  li {
    border-radius: 3px;
    // padding: 12px 15px 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    label {
      margin-bottom: 3px;
      font-size: 10px;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 0;
    }

    img {
      height: 100px;
      width: 100px;
      object-fit: contain;
      background-color: #111;
    }

    .col:first-child {
      padding: 0px;
    }

    .col:not(:first-child) {
      padding: 10px 13px 13px;
    }
  }

  .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,0.1);
    min-width: 950px;
  }
  .table-row:hover {
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col {
    flex-basis: 10%;
  }
  .col-1 {
    flex-basis: 2%;
  }
  .col-2 {
    flex-basis: 4%;
  }
  .col-3 {
    flex-basis: 6%;
  }
  .col-4 {
    flex-basis: 8%;
  }
  .col-5 {
    flex-basis: 10%;
  }
  .col-6 {
    flex-basis: 12%;
  }
  .col-7 {
    flex-basis: 14%;
  }
  .col-8 {
    flex-basis: 16%;
  }
  .col-9 {
    flex-basis: 18%;
  }
  .col-10 {
    flex-basis: 20%;
  }
}

.responsive-table.stripe-transaction-table {
  li {
    .col:first-child {
      padding: 10px 13px 13px !important;
    }
  }
}

.responsive-table.no-photo-table {
  li {
    .col {
      padding: 10px 13px 13px !important;
    }
  }
}

.list-pagination {
  ul {
    li {
      display: inline;
      text-align: center;

      label {
        width: 40px;
        height: 40px;
        background-color: #828282;
        border-radius: 4px;
        padding-top: 8px;
      }
    }
  }
}
/* common css end */

/* add product css start */
.image-upload-label {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid #c4c4c4;

  &:hover {
    border: 1px solid #212121;
    color: #3f51b5;
  }
}

.image-upload-control {
  text-align: center;
  padding: 20px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  // min-height: 416px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;

  &>div {
    // background-color: transparent !important;
    // border: 1px dashed #c4c4c4 !important;
    border-radius: 4px !important;
    position: relative;

    &>div>button {
      // background-color: #c4c4c4 !important;
    }
  }

  .image-slide-empty-container {
    width: 100%;
    min-height: 300px;
    background-color: #000;
  }

  &:hover {
    border: 1px solid #212121;
  }
}

.textareaField {
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid #c4c4c4;
  padding: 18.5px 14px;
  // min-height: 150px;

  &:hover {
    border: 1px solid #212121;
  }

  &:focus ~ .textareaLabel{
    color: #3f51b5;
  }
}

.textareaLabel {
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(9px, 12px) scale(1);
  color: rgba(0, 0, 0, 0.54);
  // transition: top 0.1s ease;
  transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  background-color: #fff;
  padding: 3px 5px;
  pointer-events: none;
}

.textareaField:focus ~ .textareaLabel,
.textareaField:valid ~ .textareaLabel {
  transform: translate(0px, -15px) scale(0.75);
}

.tagsLabel {
  top: 0;
  left: 5px;
  position: absolute;
  transform: translate(0px, -15px) scale(0.75);
  background-color: #fff;
  color: rgba(0, 0, 0, 0.54);
  padding: 3px 5px;
  pointer-events: none;
  transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.react-tag-input input:focus ~ .tagsLabel {
  color: #3f51b5;
}

.card-color {
  background-color: #f7f7f7 !important;
}

.remove-img {
  padding: 2px 12px 5px;
  background-color: #cc0000;
  border: 1px solid #cc0000;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  border-top-right-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #e30000;
    border: 1px solid #e30000;
  }
}

.set-thumbnail {
  position: absolute;
  top: 20px;
  right: 53px;
  padding: 3px 10px;
  border: 1.5px solid #4050b5;
  background-color: #4050b5;
  color: #fff;
  cursor: pointer;
}

.product-list .MuiCard-root {
  transition: all 1s ease;
  opacity: 1;
  transform: scale(1);
}
.product-list.b4-animate .MuiCard-root {
  opacity: 0;
  transform: scale(0);
}
/* add product css end */

/* user profile css start */
.user-profile {
  .user-banner {
    position: relative;
    width: 100%;
    height: 180px;
    background: #828282;
    border-radius: 15px;
    // border-top-left-radius: 15px;
    // border-top-right-radius: 15px;
    margin-bottom: 5px;

    .user-edit-icon {
      width: 60px;
      padding: 5px;
      right: 0;
      position: absolute;
    }

    .profile-edit-btn-control {
      top: 10px;
      right: 10px;
      position: absolute;
      display: flex;
    }

    .banner-image {
      width: 100%;
      height: 180px;
      border-radius: 15px;
      object-fit: cover;
    }

    @media (max-width: 504px) {
      // height: 130px;
    }

    @media (max-width: 380px) {
      height: 100px;
    }

    .user-profile {
      position: absolute;
      width: 155px;
      height: 155px;
      left: 20px;
      bottom: -80px;
      z-index: 99;
      // transform: translateX(-50%);
      background: #D9D9D9;
      border-radius: 50%;
      border: 5px solid #ffffff;

      svg {
        width: 100%;
        top: 50%;
        bottom: 0;
        transform: translateY(-50%);
        position: absolute;
      }

      @media (max-width: 499px) {
        width: 135px;
        height: 135px;
      }
    }

    .user-info {
      padding-top: 10px;
      padding-bottom: 10px;
      color: #fff;
      padding-left: 200px;
      bottom: 0px;
      position: absolute;
      margin: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: end;
      background-color: #2c2c2c75;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;

      >div {
        display: flex;

        @media (max-width: 768px) {
          flex-direction: column;
        }
      }

      @media (max-width: 499px) {
        flex-direction: column;
        padding-left: 170px;
        align-items: flex-start;
      }

      h4 {
        text-align: left;
        font-weight: 700;

        @media (max-width: 499px) {
          font-size: 18px;
          margin: 0;
        }
      }

      span {
        margin-left: 5px;
        line-height: 36px;
        font-size: 12px;

        @media (max-width: 499px) {
          line-height: unset;
          margin: 0;
          font-size: 11px;
        }
      }

      .mobile-setting {
        display: none;

        @media (max-width: 499px) {
          line-height: unset;
          margin: 0;
          font-size: 11px;
        }
      }
    }
  }

  .user-data {
    // position: absolute;
    // left: 175px;
    // bottom: -83px;
    width: 100%;
    // background: #828282;
    padding-left: 170px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    @media (max-width: 499px) {
      padding-left: 150px;
    }

    .data-card-container {
      display: flex;
      justify-content: left;
      background-color: #fff;
      padding-left: 5px;

      @media (max-width: 857px) {
        flex-wrap: wrap;
      }

      .data-card {
        width: 140px;
        // height: 78px;
        padding: 5px 8px;
        background: #828282;
        border-right: 5px solid #ffffff;
        position: relative;
        min-height: 58px;

        @media (max-width: 857px) {
          margin: 0 0 5px 0;
        }

        @media (max-width: 768px) {
          width: 100px;
        }

        @media (max-width: 504px) {
          width: calc(100% / 2);
          padding: 2px 5px;
        }

        @media (max-width: 380px) {
          width: 100%;
          display: flex;
        }

        label {
          text-align: center;
          display: block;
          width: 100%;
          color: #fff;
          margin: 0;

          @media (max-width: 930px) {
            font-size: 14px;
          }

          @media (max-width: 768px) {
            font-size: 12px;
          }

          @media (max-width: 380px) {
            // display: unset;
            width: calc(100% / 2);
          }
        }
      }

      .data-card:first-child {
        // border-left: 5px solid #ffffff;
        border-bottom-left-radius: 15px;

        @media (max-width: 857px) {
          border-radius: 0;
        }
      }

      .data-card:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-right: 0;

        @media (max-width: 857px) {
          border-right: 5px solid #ffffff;
          border-radius: 0;
        }
      }
    }
  }

  .user-description {
    margin-top: 15px;
    position: relative;

    p {
      // text-indent: 30px;
      padding: 0 30px;
      cursor: pointer;
      line-height: 26px;
      text-align: justify;
      color: #676767;
    }

    p::first-letter {
      font-size: 30px;
      color: $primary;
      font-weight: bold;
    }

    .char-count {
      position: absolute;
      bottom: 7px;
      right: 5px;
    }
  }

  .user-body {
    .tabs {
      display: flex;
      justify-content: center;

      .tab {
        padding: 5px 10px;
        background-color: #fff;
        color: rgba(0, 0, 0, 0.49);
        cursor: pointer;

        &.active {
          color: #111111;
          border-bottom: 1px solid #111111;
        }
      }
    }

    .tabs-content {
      .filter-container {
        .filter-row {
          display: flex;
          justify-content: space-between;
          margin-top: 30px;
          flex-wrap: wrap;
          // overflow: auto;

          .filter-modal {
            display: none;
            position: absolute;
            z-index: 9;
            min-height: 50px;
            width: 100%;
            background-color: #fff;
          }

          select {
            // width: 120px;
            margin-right: 20px;
            border: 0px;
            cursor: pointer;

            @media (max-width: 520px) {
              margin-right: 10px;
              font-size: 14px;
            }

            &:focus {
              outline: none;
            }
          }
        }

        label {
          margin-right: 20px;
          cursor: pointer;
        }
      }
    }

    .image-lists {
      display: flex;
      flex-wrap: wrap;
      padding: 15px 0;
      
      &>div {
        padding: 0 15px 0 0;

        @media (max-width: 575px) {
          padding: 0;
        }
      }
    }
  }

  .user-description textarea {
    width: 100%;
    min-height: 200px;
    padding: 6px 10px;
    border-radius: 5px;
    resize: none;
  }

  .edit-profile {
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: #e8e8e8;
    padding: 3px 6px;
    border-radius: 50px;

    label {
      margin-bottom: 0 !important;

      svg {
        width: 100%;
        transform: translateY(0%) !important;
        position: unset !important;
      }
    }

    input[type=file] {
      display: none;
    }

    svg {
      width: 20px !important;
      cursor: pointer;
  
      &:hover {
        fill: #004ac5;
      }
    }
  }

  .edit-banner {
    top: 10px;
    right: 10px;
    position: absolute;
    background-color: #e8e8e8;
    padding: 3px 6px;
    border-radius: 50px;

    label {
      margin-bottom: 0 !important;
    }

    input[type=file] {
      display: none;
    }

    svg {
      width: 20px !important;
      cursor: pointer;
  
      &:hover {
        fill: #004ac5;
      }
    }
  }
}

.crop-image-btn {
  width: 95px !important;
}

// #account-menu>div:first-child::before {
//   content: "";
//   border-top: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 10px solid #fff;
//   border-left: 10px solid transparent;
//   right: 28px;
//   position: absolute;
//   top: 61px;
// }

#account-menu .MuiMenu-paper {
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
}

.menu-anchor {
  position: absolute;
  fill: #fff !important;
  font-size: 35px !important;
  margin-left: 5px;
}

.photo-picker {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  border: 1px dashed #111;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;

  input {
    display: none;
  }

  label {
    margin-bottom: 0 !important;
    cursor: pointer;
    padding: 180px 8px;
    vertical-align: middle;
    flex: 1 1;
  }
}

.dropdown-filter {
  position: relative;

  label {
    margin-right: 3px !important;
  }

  .arrow {
    margin-right: 17px;
    transition: all 0.5s ease;
    transform: rotate(360deg);

    @media (max-width: 768px) {
      margin-right: 10px;
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 32px;
    padding: 10px 0;
    border: 1px solid #111;
    z-index: 999;
    min-width: 170px;
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

    &.left {
      @media (max-width: 768px) {
        left: 5px;
      }
    }

    &.right {
      @media (max-width: 768px) {
        right: 5px;
      }
    }
    
    .dropdown-price-filter {
      padding: 0 10px;
    }

    >div {
      cursor: pointer;
      // border-radius: 50px;
      position: relative;

      &:not(.dropdown-price-filter) {
        // border: 1px solid #efe9e2;
        padding: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      input[type=number]::-webkit-outer-spin-button,
      input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      /* Firefox */
      input[type=number] {
        -moz-appearance: textfield;
        width: 150px;
        padding: 7px 10px;
      }

      .sub-dropdown-content {
        position: absolute;
        top: -11px;
        padding: 10px 0;
        left: 100%;
        display: none;
        border: 1px solid #111;
        z-index: 999;
        min-width: 170px;
        background-color: #fff;
        box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

        >div {
          cursor: pointer;

          &:not(.dropdown-price-filter) {
            // border: 1px solid #efe9e2;
            padding: 10px;
          }
        }
      }

      &:hover {
        .sub-dropdown-content {
          display: block;
        }
      }
    }

    div.selected {
      // background-color: #efe9e2;
      >span {
        color: $dark;
        font-weight: 700;
      }
    }

    .range-text {
      text-align: center;
      margin: 5px auto;
    }
  }


  &:hover {
    .arrow {
      transform: rotate(180deg);
    }
    .dropdown-content {
      display: block;
    }
  }
}

.user-notify {
  padding: 5px 0;
}
/* user profile css end */

/* transaction page start */
.transaction-table {
  tr {
    th:nth-child(1) {
      width: 140px;
    }

    th:nth-child(2) {
      width: 200px;
    }

    th:nth-child(3) {
      width: 300px;
    }

    th:nth-child(4) {
      width: 100px;
    }

    th:nth-child(5) {
      width: 300px;
    }

    th:nth-child(6) {
      width: 100px;
    }
  }
}
/* transaction page end */


/* image crop START */
.resize-icon {

  &.minus {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  &.disabled {
    opacity: 0.7;
  }

}
/* image crop END */



/* overwrite start */
.select__single-value {
  color: #fff !important;
}
.dropdown-item:hover, .dropdown-item:focus {
  background-color: transparent !important;
  cursor: unset !important;
}
.products-filter .filter-item__dropdown .dropdown-item {
  padding: 2px 10px !important;
}
.login-bg-hero {
  label, input, a, a:hover,
  input:hover, select,
  .MuiOutlinedInput-notchedOutline,
  h1, h2, h3, h4, h5, h6, p {
    color: #fff !important;
    outline: #fff;
    border-color: #fff;
    outline-color: #fff;
  }
  input, input:focus {
    background-color: transparent;
  }
  .MuiButton-containeddefault {
    color: #111;
  }
  .MuiFormLabel-root.MuiFormLabel-filled ~ div .MuiOutlinedInput-input:-webkit-autofill,
  input:-webkit-autofill {
    -webkit-text-fill-color: #fff;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0px 1000px $dark-red inset;
  }
  .select__control {
    background-color: transparent !important;
  }
  .select__control .select__placeholder {
    color: #fff;
  }
}
.dropdown-menu.show {
  border: unset;
}
.filter-item__dropdown.nav-item.dropdown {
  padding: 10px;
  border: 1px solid $secondery;
  border-radius: 10px;
  position: relative;
  margin: 5px 0 0 0;
  border: 1px solid #efe9e2;
}
.dropdown-toggle.nav-link {
  margin-bottom: 0px !important;
}
.dropdown-toggle.nav-link::after {
  top: 20px;
  right: 10px;
  position: absolute;
  transition: all 0.5s ease;
}

.menu-item {
  position: relative;

  .sub-menu-items {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 999;
    background-color: $dark;
    padding-top: 20px;
    min-width: 180px;
  
    .nav-link {
      margin: 0 !important;
      padding: 10px 15px !important;
    }
  }

  &:hover .sub-menu-items {
    display: block;
  }
}
.filter-item__dropdown.nav-item.show.dropdown .dropdown-toggle.nav-link::after {
  transform: rotate(180deg);
}
.MuiSlider-valueLabel {
  top: 0 !important;
}
.MuiSlider-valueLabel>span {
  border-radius: 50% !important;
}
.react-tag-input {
  padding: 12px 14px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid #c4c4c4;

  &:hover {
    border: 1px solid #212121;
  }
}
.MuiGrid-spacing-xs-3 > .MuiGrid-item {
  padding: 0 12px !important;
}
.MuiFormControlLabel-label {
  color: rgba(0, 0, 0, 0.54);
}
.react-tag-input__input {
  margin: 0 !important;
  padding: 0 !important;
}
.MuiBox-root {
  border: 2px solid #fff !important;
}

.product-modal {

  table.desktop-view {
    display: table;
  }

  table.mobile-view {
    display: none;
  }

  @media (max-width: 859px) {

    .MuiBox-root {
      width: 85%;
      min-width: 443px;
    }

    table.desktop-view {
      display: none;
    }
  
    table.mobile-view {
      display: table;
      margin: 0 auto;

      th, td {
        min-width: 50%;
      }
    }
  }
}
.product-modal th {
  width: 125px;
}
.table-image {
  max-width: 200px;
  text-align: center;

  @media (max-width: 859px) {
    max-width: unset !important;
  }

  .rsis-container>div {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.product-modal table th,
.product-modal table td {
  border: 0px;
  vertical-align: top;
}
.product-modal table td {
  min-width: 150px;
  max-width: 150px;
  line-break: anywhere;
}
tr:nth-child(even) {
  background-color: transparent !important;
  border-top: 2px solid #dddddd50 !important;
  border-bottom: 2px solid #dddddd50 !important;
}
.notification.badge {
  top: 0 !important;
  position: absolute !important;
}
.product-list .MuiAvatar-circular img {
  border: 1px solid #717171;
  border-radius: 50px;
}
.seller-products-table {
  overflow-x: auto;
}
.seller-products-table .react-bootstrap-table {
  min-width: 1000px;
}
.seller-products-table table thead tr th:nth-child(2) {
  width: 83px;
}
.seller-products-table table thead tr th:nth-child(3) {
  width: 300px;
}
.seller-products-table table thead tr th:nth-child(4) {
  width: 100px;
}
.seller-products-table table thead tr th:nth-child(5),
.seller-products-table table thead tr th:nth-child(6),
.seller-products-table table thead tr th:nth-child(7) {
  width: 60px;
}
.seller-products-table table thead tr th:nth-child(8),
.seller-products-table table thead tr th:nth-child(9) {
  width: 185px;
}
.products-filter .dropdown-menu.show {
  inset: 44px auto auto 0px !important;
  border: 1px solid #efe9e2;
  border-radius: 10px;
}

.products-filter.sticky {
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  position: fixed;
  display: none;
  background-color: #fff;
}
.products-filter.sticky.show {
  display: block;
}
.StripeElement.StripeElement--empty {
  padding: 18.5px 14px !important;
  height: auto !important;
  border-radius: 4px !important;
  border: 1px solid #c4c4c4 !important;
}
.custom-form-control {
  position: relative;

  .custom-control-label {
    left: -16px;
    padding: 0 5px;
    position: absolute;
    transform: translate(14px, -13px) scale(0.75);
    background-color: #fff;
    color: rgba(0, 0, 0, 0.54);
    pointer-events: none;

    &::before,
    &::after {
      content: none;
    }
  }
}
.add-to-favorites.added .MuiSvgIcon-root {
  fill: $primary;
}

.add-to-favorites .MuiSvgIcon-root {
  fill: #b4b4b4;
}

.image-upload-control .rsis-image {
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center center;

  ~ div {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.rsis-container ~ div {
  margin: unset !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: #2a2a2ac7 !important;
  width: 100% !important;

  button {
    width: 12px !important;
    height: 5px !important;
    border-radius: unset !important;
    vertical-align: middle;
    transition: all 0.1s ease;

    &:hover {
      width: 18px !important;
      height: 5px !important;
    }
  }
}

.MuiButton-containedPrimary,
.MuiButton-containedPrimary:hover,
.MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
  background-color: $primary !important;
}
.MuiSwitch-colorPrimary.Mui-checked {
  color: $primary !important;
}
.MuiCardHeader-avatar {
  img {
    border: 2px solid $dark !important;
    border-radius: 50px;
  }
}
#__react-alert__>div {
  left: 0 !important;
  bottom: 10px !important;
  justify-content: end !important;
  align-items: flex-start !important;

  .alert {
    margin: 10px 20px !important;
    background-color: $dark !important;
    border: 1px solid $dark !important;
    color: #fff;
    box-shadow: 0px 0px 2px -1px rgb(255 255 255 / 29%), 0px 0px 2px 0px rgb(255 255 255 / 14%), 0px 0px 3px 0px rgb(255 255 255 / 12%);

    .success-icon {
      fill: green;
    }

    .fail-icon {
      fill: #ff2e2e;
    }
  }

  .alert-dismissible .close {
    right: 6px !important;
    padding: 5px !important;
    font-size: 16px !important;
    color: #fff !important;
  }
}
.react-datepicker__year-dropdown-container--select, .react-datepicker__month-dropdown-container--select, .react-datepicker__month-year-dropdown-container--select, .react-datepicker__year-dropdown-container--scroll, .react-datepicker__month-dropdown-container--scroll, .react-datepicker__month-year-dropdown-container--scroll {
  margin: 0 25px !important;
}
/* overwrite end */

/* loading start */
.title-word {
  animation: color-animation 1s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/* Here are just some visual styles. 🖌 */

.loader-container {
  display: grid;
  place-items: center;  
  text-align: center;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  background-color: #000000bd;
  
  &.hide {
    display: none;
  }
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 8.5vw;
  text-transform: uppercase;
}
/* loading end */

/* product page start */
.price-container {
  input {
    width: 150px;
    padding: 7px 10px;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    @media (max-width: 500px) {
      width: 100px;
    }

    @media (max-width: 400px) {
      width: 80px;
    }
  }

  span {
    margin: 0 15px;
    padding: 7px 0;
  }
}
.products-filter {
  .price-row {
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: start !important;
    }
  }
}

/* product page end */

/* spin start */
@-ms-keyframes leftSpin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes leftSpin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes leftSpin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes leftSpin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

@-ms-keyframes rightSpin {
  from { -ms-transform: rotate(360deg); }
  to { -ms-transform: rotate(0deg); }
}
@-moz-keyframes rightSpin {
  from { -moz-transform: rotate(360deg); }
  to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes rightSpin {
  from { -webkit-transform: rotate(360deg); }
  to { -webkit-transform: rotate(0deg); }
}
@keyframes rightSpin {
  from {
      transform:rotate(360deg);
  }
  to {
      transform:rotate(0deg);
  }
}
/* spin end */

@for $i from 14 through 30 {
  .font-#{$i} {
    font-size: $i + px;
  }
}
@import "custom";
@import "responsive";
