.app-icon {
    transform: scale(1);
    transition: all 0.2s ease !important;
    margin: 5px !important;
}

.app-icon:hover {
    transform: scale(1.1);
}

.app-icon.google-icon {
    background-color: tomato;
    color: #fff;
}

.app-icon.google-icon:hover {
    background-color: #ff6347;
    /* box-shadow: 0px 0px 5px 0px rgb(255 99 77 / 20%), 0px 0px 5px 0px rgb(255 99 77 / 14%), 0px 0px 5px 0px rgb(255 99 77 / 12%); */
}

.app-icon.facebook-icon {
    background-color: #4267B2;
    color: #fff;
}

.app-icon.facebook-icon:hover {
    background-color: rgb(66, 103, 178);
    /* box-shadow: 0px 0px 5px 0px rgb(66 103 178 / 20%), 0px 0px 5px 0px rgb(66 103 178 / 14%), 0px 0px 5px 0px rgb(66 103 178 / 12%); */
}