.cart .cart_product img {
    /* width: 10rem !important; */
    /* height: 6rem; */
    width: 100%;
    object-fit: contain;
}

.cart .empty-list-err {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
    padding-top: 15rem;
    min-height: 35rem;
}