.notification.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 7px;
    border-radius: 50%;
    background-color: red;
    color: white;
}
.m-b-1-rem {
  margin-bottom: 1rem;
}