.loader {
    border: .8rem solid #f3f3f3;
    border-radius: 50%;
    border-top: .8rem solid #5799c5;
    width: 6rem;
    height: 6rem;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    margin: auto;
    font-size: 1rem;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .danger {
    background-color: rgb(214, 118, 118);
  }