.phase-modal {
    padding: 50px 0;
    overflow: auto;
    border-radius: 7px;
    outline: none;
}

.phase-line-limit {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4; 
   -webkit-box-orient: vertical;
}

.see-more {
    text-align: right;
}

.see-more label {
    cursor: pointer;
    text-decoration: underline;
    text-align: right;
}

.min-w-520 {
    min-width: 520px;
}

.outline-none {
    outline: none;
}

@media (max-width: 520px) {
    .min-w-520 {
        min-width: 100%;
    }
}