.product-list .product-card .product-img {
    height: 14rem;
}

.products-page .no-products-text {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
    padding-top: 8rem;
    min-height: 20rem;
}

.product-detail .product-img {
    /* height: 30rem; */
}

.products-pagination .pagination li {
    padding: .8rem 1rem .8rem 1rem;
    border: 1px solid #939fac;
    border-radius: .3rem;
    text-align: center;
    margin-left: 1px;
}

.products-pagination .pagination .pagination-active {
    background-color: #337AB7;
}

.products-pagination .pagination-active,
.products-pagination .pagination li:hover {
    background-color: #3379b781;
}
.products-pagination .pagination-active a,
.products-pagination .pagination-active a:hover {
    color: white !important;
}
.products-page .product-card__body--seller {
    font-size: .75rem;
    font-weight: bold;
    letter-spacing: .05rem;
}