.profile-card {
    /* width: 22rem; */
    height: 24rem;
    margin: auto;
    background-color: #231E39;
    text-align: center;
    border-radius: 10%;
    color: white;
}

.profile-card img {
    border-radius: 50%;
    padding: 1rem;
}

.profile-card .name {
    display: block;
    font-size: 1.6rem;
}

.profile-card .email-id {
    display: block;
    font-size: 1rem;
}

.profile-card .phone-number {
    display: block;
    font-size: .9rem;
}

.profile-card .country {
    display: block;
    font-size: .9rem;
}

.profile .table {
    margin: auto;
    padding-top: 2rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: rgb(209, 205, 205);
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd50;
}

.profile .no-products-text {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
    padding-top: 3rem;
    min-height: 12rem;
}

.MuiButton-root.followed {
    background-color: #592533;
}

.MuiButton-root.followed * {
    color: #fff;
}

.MuiButton-root.follow {
    background-color: #fff;
}

.MuiButton-root.follow * {
    color: #592533;
}

@keyframes spinnow {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

.rotate {
    animation: 1s spinnow infinite linear;
}