.stripe-dashboard {
    margin-top: 30px;
}

.stripe-dashboard .box {
    padding: 10px;
    /* border: 1px solid #b1b1b1; */
    border-radius: 5px;
    margin-right: 5px;
}

.stripe-dashboard .box span:first-child {
    color: grey;
}

.stripe-dashboard .box span:last-child {
    /* display: block; */
    background-color: #5a2533;
    color: #fff;
    border-radius: 50px;
    padding: 3px 10px;
    margin-left: 7px;
    font-size: 12px;
}