.follower-section img {
    border-radius: 50%;
    margin-bottom: 20px;
    /* box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%); */
}

.top-seller p {
    margin: 0px;
    /* box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%); */
}

.follower-section a:hover,
.follower-section p,
.follower-section svg,
.follower-section span {
    text-decoration: none !important;
    color: #fff;
}

.follower-section .desktop svg {
    position: absolute;
    right: 12%;
    bottom: 12%;
}

.follower-section .mobile svg {
    position: absolute;
    right: 42%;
    bottom: 12%;
}

.carousel-item p, 
.carousel-item span {
    margin: 0px;
    color: #fff;
}

.top-seller {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-seller-grid {
    min-width: 900px !important;
}

.col-lg-12 {
    overflow-x: auto;
}

.carousel-indicators {
    position: relative !important;
}

.mobile {
    display: none;
}

@media (max-width: 899px) {
    .desktop {
        display: none !important;
    }
    
    .mobile {
        display: block;
    }
}