.verify-email {
    height: 30rem;
    width: 30rem;
    margin: auto;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
}
.verify-email button {
    margin: auto;
    margin-top: 15rem;
    margin-right: 0.5rem;
    min-width: 10rem;
}
.verify-email .cancel-btn {
    background-color: #ce0707;
}
.verify-email .cancel-btn:hover {
    background-color: #ce07079d;
}